body {
  background-color: #424242;
  color: #e0e0e0;
}

.container {
  display: flex;
}

.grid {
  width: 200px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  background-color: #0288d1;
  border-top: 1px solid #0288d1;
  border-left: 1px solid #0288d1;
}

.border {
  border-bottom: 1px solid #0288d1;
  border-right: 1px solid #0288d1;
  height: 19px;
  width: 19px;
}

.mini-grid {
  width: 80px;
  height: 80px;
  display: flex;
  flex-wrap: wrap;
  margin-left: 50px;
  background-color: #0288d1;
  border-top: 1px solid #0288d1;
  border-left: 1px solid #0288d1;
}

.mini-grid div {
  border-bottom: 1px solid #0288d1;
  border-right: 1px solid #0288d1;
  height: 19px;
  width: 19px;
}

#start-button {
  background-color: #424242;
  margin-bottom: 20px;
  border-radius: 10%;
  color: #e0e0e0;
}
